<!DOCTYPE html>
<html ng-app="SchoolApp">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width" content="initial-scale=1">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="schoolCopy.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="Controllers/MainCtrl.js"></script>
    <title>Student Details</title>
</head>

<body class= "container">

  <center><div class="Main" id="main" ng-controller="MainCtrl">

        <div class="hero">
          <hgroup>
            <h2>Welcome to this Project</h2>
              <h4>Project uses HTML,CSS,Javascript framework:AngularJS</h3>
          </hgroup>
        </div>     

        <h4 class="text-centered text-info">Add a New Student</h4><br>
        
        <form name="frm" class="form-inline" ng-repeat="stud in studs">
          <fieldset class="form-group" >
             <input class="form-control input-lg required" title="Enter text only" ng-hide = "frm.text.$dirty && frm.text.$error.required" type="text" ng-model="stud.Name" placeholder="Name">
             <input class="form-control input-lg required" ng-hide = "frm.email.$dirty && frm.email.$error.required" type="email" ng-model="stud.email" placeholder="Email(e.g:example@g.com)">
             <input class="form-control input-lg required" title="Enter text only" ng-hide = "frm.text.$dirty && frm.text.$error.required" type="text" ng-model="stud.school" placeholder="School">
          </fieldset>
          <a href="#myTable"><button type="button" id="submit" class="btn btn-info btn-lg scrollto" ng-click="addmember(stud)" ng-disabled="frm.$invalid">Submit</button></a>
        </form>
        <script>
        $(document).ready(function () {
           $('#submit').click(function () {
              $('#myTable').fadeIn('slow');
          });
           });
           </script>
      <div class="row" ng-show="showTable">
        <div class="col-md-12">

        <table border="1" id="myTable" class="table table-bordered results">
          <thead>
            <td class="text-center text-info" colspan="12">Student Table</td>              
          </thead>
          <tr>
            <td colspan="12">
              <span class="input-group-btn form-inline">
              <input type="text" class="form-control input-sm" placeholder="Search by school name" ng-model="search.school">
                  <button class="btn btn-info btn-sm" type="button">
                      <i class="glyphicon glyphicon-search"></i>
                  </button>
              </span>
            </td>
          </tr>
          <tr>
            <td  colspan="3" class="text-center text-info">Name</td>
            <td  colspan="3" class="text-center text-info">Email</td>
            <td  colspan="3" class="text-center text-info">School</td>
            <td  colspan="3" class="text-center text-info">Action</td>
          </tr>
          <tr ng-repeat="stud in mystuds | filter:search">
             <td colspan="3" class="text-center">{{stud.Name}}</td>
             <td  colspan="3" class="text-center">{{stud.email}}</td>
             <td  colspan="3" class="text-center">{{stud.school}}</td>
             <td  colspan="3" class="text-center"><button class="btn btn-info btn-sm" type="button" ng-click="deleteRow(stud)">Remove</button></td>
          </tr>
        </table>
        
        <!--<script>//delete row in javascript
          function deleteRow(r){
            var i= r.parentNode.parentNode.rowIndex;
            document.getElementById("myTable").deleteRow(i);
          }
        </script>-->
      </div>
    </div>
    </div></center>
  </section>

